commit.txt
go.sum
tags
vendor
.DS_Store
*~
.*.sw*
.\#*
\#*#
/apitest
/apitest.yml
/website/public
/public
tmpl.go
.idea/
/bin/
apitest_report.json
/commands/server/assets/tmpl.go
*.code-workspace
*.vscode
*.sh
testcoverage.out
dist/
